#listBack {
  margin: 0px;
  text-align: center;
}

#list {
  padding: 10px;
  list-style: none;
  margin: 0px;
  display: inline-block;
  text-align: left;
  height: auto;
  background-color: var(--quaternaryColour);
  border-left: var(--primaryColour) solid 5px;
  border-right: var(--primaryColour) solid 5px;
}

#buttonZone {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: var(--primaryColour);
  color: var(--textOnPrimary);
  font-weight: bold;
  text-align: center;
}

#pageLabel {
  padding-top: 3px;
}

.pageButton {
  color: var(--textOnPrimary);
  font-weight: bold;
  width: 75px;
  background-color: var(--primaryColour);
  border: none;
  margin: 5px;
  border-left: 1px solid var(--textOnPrimary);
  border-right: 1px solid var(--textOnPrimary);
}

.pageButton:hover {
  background-color: var(--tertiaryColour);
}

.pageButton:disabled {
  background-color: var(--secondaryColour);
}

#loader {
  display: inline-block;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  margin-bottom: 25%;
}

#sortBox {
  background-color: var(--neutralColour);
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: var(--primaryColour) solid 5px;
}

#sortButton {
  background-color: var(--secondaryColour);
  width: 100%;
  border-radius: 0px;
  border: none;
  color: var(--textOnSecondary);
  font-weight: bold;
  font-size: medium;
}

#sortButton:hover {
  background-color: var(--tertiaryColour);
  color: var(--textOnSecondary);
}

#topicTitle {
  color: var(--textOnPrimary);
  background-color: var(--secondaryColour);
  border-bottom: var(--primaryColour) 5px solid;
  text-align: left;
  padding-left: 20px;
}
