#listBack {
  margin: 0px;
  text-align: center;
}

#list {
  padding: 10px;
  list-style: none;
  margin: 0px;
  display: inline-block;
  text-align: left;
  height: 100vh;
}

#buttonZone {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #3d348b;
  color: white;
  font-weight: bold;
  text-align: center;
}

#pageLabel {
  padding-top: 3px;
}

.pageButton {
  color: white;
  font-weight: bold;
  width: 75px;
  background-color: #3d348b;
  border: none;
  margin: 5px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.pageButton:hover {
  background-color: #7678ed;
}

.pageButton:disabled {
  background-color: #9193e7;
}

#loader {
  display: inline-block;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  margin-bottom: 25%;
}

#sortBox {
  background-color: whitesmoke;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: #3d348b solid 5px;
}

#sortButton {
  background-color: #7678ed;
  width: 100%;
  border-radius: 0px;
  border: none;
  color: black;
  font-weight: bold;
  font-size: medium;
}

#sortButton:hover {
  background-color: #9193e7;
  color: black;
}

#topicTitle {
  color: white;
  background-color: #7678ed;
  border-bottom: #3d348b 5px solid;
  text-align: left;
  padding-left: 20px;
}
