#navBox {
  background-color: #3d348b;
}

#title {
  color: white;
  padding-top: 20px;
  margin: 0px;
  padding-left: 10px;
}

#buttonBar {
  display: flex;
  background-color: #3d348b;
  justify-content: space-evenly;
  height: 100%;
}

.navButton {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: large;
}

.navButton:hover {
  background-color: #7678ed;
}

.topicSelect {
  background-color: #3d348b;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0;
  border: none;
  margin: 0;
  font-size: large;
  appearance: none;
}

.topicSelect:hover {
  background-color: #7678ed;
}

.topicSelect option {
  background: #7678ed;
}

#topicTitle:disabled {
  display: none;
}

.topicOption {
  background-color: #7678ed;
  background: #7678ed;
}
