#navBox {
  background-color: #3d348b;
}

#title {
  color: white;
  padding-top: 20px;
  margin: 0px;
  padding-left: 10px;
  font-size: 50px;
}

#buttonBar {
  display: flex;
  background-color: #3d348b;
  justify-content: space-evenly;
  height: 100%;
}

.navButton {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: large;
}

.navButton:hover {
  background-color: #7678ed;
}

.topicSelect {
  background-color: #3d348b;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0;
  border: none;
  margin: 0;
  font-size: large;
  appearance: none;
}

.topicSelect:hover {
  background-color: #7678ed;
}

.topicSelect option {
  background: #7678ed;
}

#topicTitle:disabled {
  display: none;
}

.topicOption {
  background-color: #7678ed;
  background: #7678ed;
}

/* #miniProfile {
  height: 100px;
  justify-items: left;
  justify-content: left;
  border: #7678ed solid 5px;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  background-color: #7678ed;
  grid-template-areas: "img name";
  justify-content: right;
} */

#miniProfile {
  display: grid;
  justify-content: left;
  text-align: left;
  gap: 0px;
  background-color: white;
  border: solid 2px black;
  border-radius: 8px;
  height: 75px;
  width: auto;
  grid-template-columns: 75px;
  grid-template-rows: auto;
  grid-template-areas: "img name";
  padding-right: 10px;
  border-radius: 8px;
}

#miniPFP {
  width: 100%;
  height: 100%;
  grid-area: img;
  object-fit: contain;

}

#username {
  color: black;
  grid-area: name;
  text-align: right;
  width: 100%;
  font-size: larger;
  align-self: right;
  padding-top: 20px;
  padding-left: 5px;
}

#headingBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
