#articleWhole {
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-left: var(--primaryColour) solid 5px;
  border-right: var(--primaryColour) solid 5px;
  background-color: var(--quaternaryColour);
}

#bodyBack {
  text-align: center;
  padding: 100;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#articleTitle {
  background-color: var(--neutralColour);
  border-bottom: solid 5px var(--primaryColour);
  margin: 0px;
}

#details {
  background-color: var(--neutralColour);
  margin: 0;
  border-bottom: solid 5px var(--primaryColour);
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#imageBox {
  border-bottom: solid 5px var(--primaryColour);
  background-color: var(--q);
}

#articleBody {
  background-color: var(--neutralColour);
  padding: 5px;
  margin: 0px;
  display: inline-block;
  text-align: left;
  max-width: 1000px;
  border-bottom: var(--primaryColour) 5px solid;
}

#voteBox {
  background-color: var(--primaryColour);
  margin: 0px;
  border-bottom: var(--primaryColour) solid 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#voteCount {
  background-color: var(--secondaryColour);
  width: 100%;
  color: var(--textOnSecondary);
  font-weight: bold;
  align-self: center;
  font-size: larger;
}

.button {
  width: 100%;
  background-color: var(--primaryColour);
  border: none;
  color: white;
  font-weight: bold;
  font-size: large;
  border-top: 1px solid var(--primaryColour);
  border-bottom: 1px solid var(--primaryColour);
}

.button:disabled {
  background-color: var(--secondaryColour);
}

#downVote:hover {
  background-color: rgb(237, 122, 122);
}

#upVote:hover {
  background-color: rgb(99, 178, 99);
}

#commentBox {
  background-color: var(--quaternaryColour);
  margin: 0px;
  border-bottom: var(--primaryColour) solid 5px;
  padding-bottom: 20px;
}

#commentList {
  list-style: none;
  padding: 10px;
}

#commentInputBox {
  border-top: 5px solid var(--primaryColour);
  margin: 0;
  background-color: var(--secondaryColour);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#commentTextBox {
  width: 100%;
  height: 100px;
  background-color: var(--neutralColour);
}

#postCommentButton {
  align-self: left;
}

#loader {
  display: inline-block;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  margin-bottom: 25%;
}

#signInLink {
  background-color: var(--neutralColour);
  border: var(--primaryColour) solid 3px;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--textOnSecondary);
  font-weight: bold;
}
#signInLink:hover {
  background-color: var(--secondaryColour);
}
