* {
  margin: 0px;
}

#commentCardBack {
  border: solid 4px var(--primaryColour);
  margin: 10px;
  border-radius: 7px;
  background-color: var(--neutralColour)
}

#commentDetails {
  text-align: left;
  border-bottom: solid 2px var(--primaryColour);
  background-color: var(--primaryLight);
  padding: 3px;
}

#commentBody {
  text-align: left;
  padding: 3px;
}

.commentButton {
  appearance: none;
  width: 50px;
  border: none;
  background-color: var(--quaternaryColour);
  font-weight: bold;
  color: var(--textOnPrimary);
}

#commentVotes {
  display: inline;
}

#commentUpVote {
  border-right: var(--primaryColour) solid 2px;
}

#commentUpVote:hover {
  background-color: rgb(99, 178, 99);
}

#commentDownVote:hover {
  background-color: rgb(237, 122, 122);
}

#commentUpVote:disabled {
  background-color: var(--tertiaryColour);
}

#commentDownVote:disabled {
  background-color: var(--tertiaryColour);
}
