.newArticle {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--quaternaryColour);
  border-left: var(--primaryColour) solid 5px;
  border-right: var(--primaryColour) solid 5px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 93vh;
}

.newArticle__inputLabel {
  font-size: large;
  font-weight: bold;
}
.newArticle__titleInput {
  width: 75%;
}
.newArticle__imageInput {
  width: 75%;
}

.newArticle__selectTopic {
  margin: 5px;
}

.newArticle__previewImage {
  width: 75%;
  margin: 20px;
}

.newArticle__bodyInput {
  width: 75%;
  height: 75%;
}
